<h2>Home</h2>


<br />

<p>Welcome to the Blog!  Please come in.</p>

<% if !user_signed_in? %>
	<p>
	It looks like you're not logged in.  Maybe you want to 
	<%= link_to('Login', new_user_session_path)  %> 
	or
	<%= link_to('Register', new_user_registration_path)  %>
	</p>
<% else %>
	<p>
	<%= current_user.email + " is logged in!" %>
	</p>
	<p>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</p>   
<% end %>