/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#nav-top {
	text-align: center;
	vertical-align: middle;
	line-height: 40px; 
	background-color: beige;
}

#nav-top > a {

	color: red;
	margin: 12%;
	color

}

#nav-top > a:hover {
	color: blue;
}

#nav-top > a:active {
	color: hotpink;
}

#footer {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 18px;
	color: silver;
	margin-top: 100px;
	width: auto;
	height: 40px;
	background-color: green
}

input {
	margin-bottom: 10px;
}
